@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import "./svg-with-js.min.css";
/* Temporary: hack to work around some weird import issues */
@import "./lux.css";
/* @import "@lula-technologies-inc/lux/dist/lux.css"; */
@import "./main.css";
:root {
  --color-bg-primary: #ffffff;
  --color-bg-primary-highlighted: #E6E6E6; 
  --color-bg-secondary: #f0f1f3;
  --color-text-primary: #333354;
  --color-text-primary-dimmed: #6C727F;
  --color-lula: rgba(255, 86, 1, 1);
}

.dark {
  --color-bg-primary: #3a3a5f; /* Darker primary color */
  --color-bg-primary-highlighted: #4F4D72; 
  --color-bg-secondary: #333354; /* Darker secondary color */
  --color-text-primary: #ffffff;
  --color-text-primary-dimmed: rgb(156 156 186)
}
body {
  color: var(--color-text-primary);
}
input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--color-text-primary);
  opacity: 1; /* Firefox */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-down {
  animation: fadeInDown 300ms ease-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 300ms ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeIn 300ms ease-out forwards;
}

.area-chart-animation {
  animation: fadeInFromBottom 1s ease-out;
}

.reference-dot {
  opacity: 0;
  animation: fadeInFromBottom 1s ease-out 1s forwards;
}
@keyframes change-bg-briefly {
  0% { background-color: initial; }
  50% { background-color: #ffffff; }
  100% { background-color: initial; }
}

.bg-briefly-changed {
  animation: change-bg-briefly 2s;
}

.form-control {
  border-radius: 0;
  border: 1px solid #e6e6e6;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);
}
.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.btn {
  background: var(--color-lula);
  color: #ffffff;
  border-radius: 0;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border-radius: 0.25rem;
  width: 100%;
}

.btn:hover {
  background: #ff7733;
}